*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
}

/* COMMON */

.container{
  background-color: black;
  height: 100vh;
  width: 100%;
  position: relative;
  /* border: 1px solid red; */
}

.wrapper{
  padding: 50px 50px;
}

.col{
  width: calc(100% / 7);
  /* border: 1px solid red; */
  color: white;
  position: relative;
  padding: 0 5px 5px 0;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.speaker{
  background-color: rgb(0, 0, 0, 0.3);
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 20px;
  padding: 5px;
}

.speaker-img{
  display: block;
}

.header{
  color: white;
  display: flex;
  position: relative;
}

.square{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #4a4a4a;
  padding: 3px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.speaker-view{
  position: absolute;
  top: 5px;
  right: 25px;
  background-color: #4a4a4a;
  padding: 3px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.footer-center, .footer-right, .footer-left{
  /* border: 1px solid red; */
  padding: 10px 0;
}


footer{
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #222222;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.footer-left, .footer-right{
  width: 20%;
}

footer a{
  color: inherit;
  text-decoration: none;
}

.footer-menu{
  display: flex;
  list-style-type: none;
  align-items: center;
}

.footer-menu a{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-menu li{
  margin: 0 10px;
}

.active i{
  color: greenyellow;
}

.footer-right{
  display: flex;
  justify-content: flex-end;
  align-self: stretch;
  padding: 0;
}

.end-meeting{
  padding: 0 20px;
  color: red;
  background-color: #4a4a4a;
  border: none;
}